<!DOCTYPE html>
<html>
	<head>
		<title>Devices - Smart Home</title>
		<link rel="stylesheet" type="text/css" href="equalizer.css"></link>
		<link rel="stylesheet" type="text/css" href="style.css"></link>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu"/></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="url/api.js"></script>
		<script src="devices/main.js"></script>
	</head>
	<body>
		<div class="parent" id="app">
			<app-header home="home.html" devices="devices.html" rooms="rooms.html" routines="routines.html"></app-header>
			<h1 class="title">Devices</h1>
			<div class="margin-text">
				<div v-if="!itemList.length">
					<h3><b>No devices found<b></h3>
					<div class="wizard">
						<p>If you want to add a device you should press the</p>
						<div class="add-button orientative">
							<img class="orientative-icon" src="assets/PlusButton.png" alt="add device icon"/>
						</div>
						<p>button.</p>
					</div>
				</div>
				<div class="instances">
					<item v-for="device in itemList" v-bind:name="device.name" v-bind:subtext="device.subtext" v-bind:img="device.img" v-bind:id="device.id" itemtype="device" :key="device.id"></item>
				</div>
			</div>
			<button class="add-button" type="button" onclick="location.href='createDevice/createDevice.html';">
				<img class="add-button-icon" src="assets/PlusButton.png" alt="add device"/>
			</button>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="components.js"></script>
	</body>
</html>
