<!DOCTYPE html>
<html>
	<head>
		<title>Routines - Smart Home</title>
		<link rel="stylesheet" type="text/css" href="equalizer.css">
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<noscript>
    		<div class="noscript">
        		<p style="margin-left: 10px">Sorry, your browser does not support JavaScript. Visit <a class="noscript-link" href="https://www.enable-javascript.com/">this</a> page for more information.</p>
    		</div>
		</noscript>
		<div class="parent" id="app">
			<app-header home="home.html" devices="devices.html" rooms="rooms.html" routines="routines.html"></app-header>
			<h1 class="title">Routines</h1>
			<div class="margin-text">
				<div v-if="!itemList.length">
					<h3><b>No routines found<b></h3>
					<div class="wizard">
						<p>If you want to add a routine you should press the big</p>
						<div class="add-button orientative">
							<img class="orientative-icon" src="assets/PlusButton.png" alt="add routine icon"/>
						</div>
						<p>button below.</p>
					</div>
				</div>
				<div class="instances">
					<item v-for="routine in itemList" v-bind:name="routine.name" v-bind:subtext="routine.subtext" v-bind:img="routine.img" v-bind:id="routine.id" itemtype="routine" :key="routine.id"></item>
				</div>
			</div>
			<button class="add-button" type="button" onclick="location.href='createRoutine/createRoutine.html'">
				<img class="add-button-icon" src="assets/PlusButton.png" alt="add routine"/>
			</button>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="components.js"></script>
		<script src="devicesComponents.js"></script>
		<script>$('a[class="nav-link"][href="routines.html"]').css("color", "white");</script>
	</body>
</html>
