.parent {
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
}

.logo {
	content: url(assets/SmartHomeLogo.png);
	display: flex;
	height: 57px;
	width: 114px;
}

.wizard {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

.add-button {
	align-self: flex-end;
	align-items: center;
	background-color: #4CAF50;
	border-radius: 50%;
	bottom: 60px;
	display: -webkit-flex;
	height: 72px;
	justify-content: center;
	right: 60px;
	position: fixed;
	width: 72px;
}

.add-button-icon {
	height: 60px;
	width: 60px;
}

.add-button:hover {
	background-color: #3C8C40;
}

.orientative {
	display: flex;
	height: 24px;
	margin: 0px 10px;
	position: static;
	width: 24px;
}

.orientative-icon {
	height: 18px;
	width: 18px;
}

.nav {
	align-items: center;
	background-color: #333;
	box-shadow: 0 5px 10px #888888;
	display: flex;
	flex-direction: row;
	z-index: 3;
}

.nav-link {
	color: #D8D8D8;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.nav-link:focus {
	color: white;
}

.nav-link:hover {
	color: white;
}

.title {
	align-items: center;
	border-bottom: 3px solid #000;
	display: flex;
	font-weight: normal;
	font-size: 45px;
	height: 60px;
	margin: 35px 35px 15px;
}

.margin-text {
	margin-left: 60px;
}

.input-text {
	border: 2px solid;
	height: 35px;
	padding: 0 6px;
	width: 300px;
	font-size: 25px;
}

.select-input {
	background: url(assets/ArrowDownIcon.png) no-repeat right center;
	background-size: contain;
	border: 2px solid;
	font-size: 25px;
	height: 35px;
	line-height: 28px;
	padding: 0 6px;
	width:300px;
}

.select-option {
	font-size: 25px;
	height: 25px;
}

.option-button {
	border: 2px solid;
	border-radius: 50px;
	color: white;
	font-size: 25px;
	height: 50px;
	margin: 0 20px;
	width: 150px;

	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.create {
	background-color: #4CAF50;
	border-color: #4CAF50;
	/*bottom: 60px;
    right: 300px;*/
}

.create:hover {
	background-color: white;
	color: #4CAF50;
}

.cancel {
	background-color: #F44336;
	border-color: #F44336;
    /*bottom: 60px;
	right: 60px;*/
}

.cancel:hover {
	background-color: white;
	color: #F44336;
}

.cancel-fixed {
	position: fixed;
	right: 60px;
	bottom: 60px;
}

.done {
	background-color: #4CAF50;
  border-color: #4CAF50;
  /*
	bottom: 60px;
	right: 60px;
	position: fixed;*/
}

.done:hover {
	background-color: white;
	color: #4CAF50;
}

.field-name {
	align-items: center;
	display: flex;
	font-size: 30px;
	height: 35px;
	margin-bottom: 5px;
	margin-top: 20px;
}

.device {
	height: 70px;
	width: 60%;
	background-color: #C1C1C1;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	border: 2px #555 solid;
	border-radius: 15px;
	justify-content: space-between;
	margin: 10px 0;
}

.device:hover {
	background-color: #D6D6D6;
}

.room {
	height: 70px;
	width: 60%;
	background-color: #FFFFFF;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	border: 2px #333333 solid;
	border-radius: 15px;
	justify-content: space-between;
	margin: 10px 0;
}

.room:hover {
	background-color: #D6D6D6;
}

.item-description {
	display: flex;
}

.option-buttons {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 20px 60px;
}

.modify-settings {
	height: 325px;
}

.item-icon {
	background-color: white;
	border-radius: 20%;
	height: 50px;
	width: 50px;
	margin: 0 10px;
}

.item-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.item-name {
	font-size: 26px;
	line-height: 32px;
}

.item-subtext {
	font-size: 13px;
}

.next-arrow {
	height: 50px;
	width: 45px;
	transform: rotate(270deg);
}

.room-icon {
	border-radius: 50%;
	height: 65px;
	width: 65px;
	margin: 0 10px;
}

.list-container {
	display: flex;
	flex-flow: column wrap;
	height: 230px;
	width: 250px;
	align-self: center;
	border-color: gray;
	z-index: 3;
	margin-left: 15px;
}

.radio-selection {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
}

.radio-button {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.radio-button-text {
	align-items: center;
	display: flex;
	font-size: 25px;
	height: 30px;
	margin: 0 10px;
}

.device-selection {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin-left: 8px;
}

.device-option {
	display: flex;
	align-items: center;
	margin: 3px 0;
}

.device-option-text {
	font-size: 15px;
	padding-left: 5px;
}

.welcome {
	display: flex;
	flex-flow: column wrap;
	margin: 5px 35px;
}

.welcome-title {
	font-size: 28px;
	margin: 15px 0;
}

.welcome-comment {
	margin: 10px 0;
	line-height: 18px;
}

.welcome-img {
	align-self: center;
	height: 300px;
	width: 542px;
	margin: 15px 0;
}

.instances {
	width: 100%;
	height: 400px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  height: 175px;
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-body p {
	line-height: 20px;
	margin: 0 5px;
}

.modal-confirm {
	color: red;
}

.modal-default-button {
  float: right;
  margin: 0 10px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}