.parent {
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
}

.search {
	align-items: center;
	display: flex;
	margin-left: auto;
}

.search-bar {
	height: 25px;
	width: 300px;
	padding: 0 6px;
}

.search-button {
	margin-left: 5px;
	margin-right: 10px;
}

.search-logo {
	height: 24px;
	width: 24px;
}

.logo {
	content: url(assets/SmartHomeLogo.png);
	display: flex;
	height: 57px;
	width: 114px;
}

.wizard {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

.add-button {
	align-self: flex-end;
	align-items: center;
	background-color: #4CAF50;
	border-radius: 50%;
	bottom: 60px;
	display: flex;
	height: 72px;
	justify-content: center;
	right: 60px;
	position: absolute;
	width: 72px;
}

.add-button-icon {
	height: 60px;
	width: 60px;
}

.orientative {
	height: 24px;
	margin: 0px 10px;
	position: static;
	width: 24px;
}

.orientative-icon {
	height: 18px;
	width: 18px;
}

.nav {
	align-items: center;
	background-color: #333;
	display: flex;
	flex-direction: row;
}

.nav-link {
	color: #D8D8D8;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.nav-link:hover {
	color: white;
}

.title {
	align-items: center;
	border-bottom: 3px solid #000;
	display: flex;
	font-weight: normal;
	font-size: 45px;
	height: 60px;
	margin: 35px 35px 15px;
}

.margin-text {
	margin-left: 60px;
}

.input-text {
	border: 2px solid;
	height: 29px;
	padding: 0 6px;
	width: 200px;
}

.select-input {
	background: url(assets/ArrowDownIcon.png) no-repeat right center;
	background-size: contain;
	border: 2px solid;
	height: 29px;
	line-height: 22px;
	padding: 0 6px;
	width:200px;
}

.option-button {
	border: 2px solid;
	border-radius: 50px;
	color: white;
	font-size: 24px;
	height: 50px;
	position: absolute;
	width: 150px;

	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.create {
	background-color: #4CAF50;
	border-color: #4CAF50;
	bottom: 60px;
	right: 60px;
}

.create:hover {
	background-color: white;
	color: #4CAF50;
}

.cancel {
	background-color: #F44336;
	border-color: #F44336;
	bottom: 60px;
    right: 300px;
}

.cancel:hover {
	background-color: white;
	color: #F44336;
}

.field-name {
	align-items: center;
	display: flex;
	height: 25px;
	margin-bottom: 5px;
	margin-top: 20px;
}

.list-container {
	height: 200px;
	width: 500px;
	align-self: center;
	margin-top: 20px;
	border-color: gray;
	z-index: 3;
	background-color: lightgray;
}

.name-input {
		width: 500px;
}

.device {
	height: 70px;
	width: 60%;
	background-color: #C1C1C1;
	display: flex;
	align-content: center;
	border: 2px #555 solid;
	border-radius: 15px;
	justify-content: space-between;
}

.device:hover {
	background-color: #D6D6D6;
}

.item-description {
	display: flex;
}

.item-icon {
	background-color: white;
	border-radius: 20%;
	padding: 5px;
	height: 50px;
	width: 50px;
	margin: 0 10px;
}

.item-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.item-name {
	font-size: 26px;
	line-height: 32px;
}

.item-categ {
	font-size: 13px;
}

.next-arrow {
	height: 50px;
	width: 45px;
	transform: rotate(270deg);
}