.parent {
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
}

.search {
	align-items: center;
	display: flex;
	margin-left: auto;
}

.search-bar {
	height: 25px;
	width: 300px;
	padding-left: 6px;
	padding-right: 6px;
}

.search-button {
	margin-right: 10px;
	margin-left: 5px;
}

.search-logo {
	height: 24px;
	width: 24px;
}

.logo {
	content: url(assets/SmartHomeLogo.png);
	display: flex;
	height: 57px;
	width: 114px;
}

.wizard {
	align-items: center;
	display: flex;
	align-content: center;
	height: 40px;
	flex-flow: row nowrap;
}

.add-button {
	align-self: flex-end;
	align-items: center;
	background-color: #4CAF50;
	border-radius: 50%;
	display: flex;
	height: 72px;
	justify-content: center;
	width: 72px;
	right: 60px;
	bottom: 60px;
	position: absolute;
}

.add-button-icon {
	height: 60px;
	width: 60px;
}

.orientative {
	height: 24px;
	margin: 0px 10px;
	width: 24px;
	position: static;
}

.orientative-icon {
	height: 18px;
	width: 18px;
}

.nav {
	align-items: center;
	background-color: #333;
	display: flex;
	flex-direction: row;
}

.nav-link {
	color: #D8D8D8;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-link:hover {
	color: white;
}

.title {
	align-items: center;
	display: flex;
	font-weight: normal;
	font-size: 45px;
	margin: 35px 35px 25px;
	height: 60px;
	border-bottom: 3px solid #000;
}

.no-devices {
	margin-left: 60px;
}

.no-rooms {
	margin-left: 60px;
}

<<<<<<< HEAD
.list-container {
	height: 200px;
	width: 500px;
	align-self: center;
	margin-top: 20px;
	border-color: gray;
	z-index: 3;
	background-color: lightgray;
}

.name-input {
		width: 500px;
}

.create-button {
	display: flex;
	align-self: flex-end;
	margin-right: 20px;
	margin-top: 30px;
}
=======
/* Arreglar esto */
.p-margin {
	margin-left: 60px;
}
>>>>>>> 8af4a4560eb626f3b8576279ef859bdf7950cece
