<!DOCTYPE html>
<html>
  <head>
    <title>Select Room - Smart Home</title>
    <link rel="stylesheet" type="text/css" href="../equalizer.css">
    <link rel="stylesheet" type="text/css" href="../style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../url/api.js"></script>
    <script src="../url/room.js"></script>
    <script src="../url/device.js"></script>
		<script src="roomForDevice.js"></script>
  </head>
  <body>
    <noscript>
        <div class="noscript">
            <p style="margin-left: 10px">Sorry, your browser does not support JavaScript. Visit <a class="noscript-link" href="https://www.enable-javascript.com/">this</a> page for more information.</p>
        </div>
    </noscript>
    <div class="parent" id="app">
      <app-header home="../home.html" devices="../devices.html" rooms="../rooms.html" routines="../routines.html"></app-header>
      <h1 class="title">Select Room</h1>
			<div class="margin-text">
        <div v-if="!itemList.length">
          <h3><b>No rooms found<b></h3>
          <div class="wizard">
            <p>If you want to add a room you should go to the "Rooms" section.</p>
          </div>
        </div>
        <div class="instances">
          <item v-for="room in itemList" v-bind:name="room.name" v-bind:subtext="room.subtext" v-bind:img="room.img" v-bind:id="room.id" itemtype="room" :key="room.id"></item>
        </div>
			</div>
      <div class="cancel-fixed">
        <button id="cancel" class="option-button cancel" type="button">Cancel</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="../components.js"></script>
  </body>
</html>
