.parent {
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
}

.logo {
	content: url(../../assets/SmartHomeLogo.png);
	display: flex;
	height: 57px;
	width: 114px;
}

.nav {
	align-items: center;
	background-color: #333;
	display: flex;
	flex-direction: row;
}

.nav-link {
	color: #D8D8D8;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.nav-link:hover {
	color: white;
}

.title {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.device-icon {
	height: 120px;
	width: 120px;
}

.title-text {
	align-items: center;
	border-bottom: 3px solid #000;
	display: flex;
	font-weight: normal;
	font-size: 45px;
	height: 60px;
	width: 100%;
	margin-right: 35px;
}

.action {
	display: flex;
	align-items: center;
	margin-left: 60px;
	width: 350px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.action-text {
	display: flex;
	align-items: center;
	height: 35px;
	font-size: 30px;
	padding-left: 15px;
}

.switch {
  	position: relative;
  	display: inline-block;
  	width: 60px;
  	height: 34px;
  	margin-right: 10px;
}

.switch input {display:none;}

.slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: #ccc;
  	border-radius: 34px;
  	-webkit-transition: .4s;
  	transition: .4s;
}

.slider:before {
  	position: absolute;
  	content: "";
  	height: 26px;
  	width: 26px;
  	left: 4px;
  	bottom: 4px;
  	background-color: white;
  	border-radius: 50%;
  	-webkit-transition: .4s;
  	transition: .4s;
}

input:checked + .slider {
  	background-color: #42CC36;
}

input:checked + .slider:before {
  	-webkit-transform: translateX(26px);
  	-ms-transform: translateX(26px);
  	transform: translateX(26px);
}