.device-title {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.device-icon {
	height: 120px;
	width: 120px;
}

.title-text {
	align-items: center;
	border-bottom: 3px solid #000;
	display: flex;
	font-weight: normal;
	font-size: 45px;
	height: 60px;
	width: 100%;
	margin-right: 35px;
}

.action {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	margin-left: 60px;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.action-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 35px;
	font-size: 30px;
	margin: 5px 25px 5px 0;
	width: 450px;
}

.switch {
  	position: relative;
  	display: inline-block;
  	width: 60px;
  	height: 34px;
}

.switch input {display:none;}

.switch-slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: #CCC;
  	border-radius: 34px;
  	-webkit-transition: .4s;
  	transition: .4s;
}

.switch-slider:before {
  	position: absolute;
  	content: "";
  	height: 26px;
  	width: 26px;
  	left: 4px;
  	bottom: 4px;
  	background-color: white;
  	border-radius: 50%;
  	-webkit-transition: .4s;
  	transition: .4s;
}

input:checked + .switch-slider {
  	background-color: #42CC36;
}

input:checked + .switch-slider:before {
  	-webkit-transform: translateX(26px);
  	-ms-transform: translateX(26px);
  	transform: translateX(26px);
}

.counter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.counter-button {
	align-self: flex-end;
	align-items: center;
	background-color: #14307C;
	border-radius: 20%;
	display: -webkit-flex;
	flex-wrap: wrap;
	height: 30px;
	justify-content: center;
	width: 30px;
	margin: 0 5px;
}

.counter-button-icon {
	height: 25px;
	width: 25px;
}

.counter-input {
	width: 80px;
	font-size: 28px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #D0D0D0;
	border-radius: 8%;
	color: #444444;
	text-align: center;
}

.color-selection {
	display: flex;
	flex-wrap: wrap;
}

.color-select {
	background: url(../assets/ArrowDownIcon.png) no-repeat right center;
	background-size: contain;
	border: 2px solid;
	height: 29px;
	line-height: 22px;
	padding: 0 6px;
	width:150px;
	margin-right: 10px;
}

.color-preview {
	width: 29px;
	height: 29px;
	border: 2px solid;
	border-radius: 20%;
}

.slider-container {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 25px;
    width: 210px;
    margin: 0 5px;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #42CC36;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #42CC36;
    cursor: pointer;
}

.brightness {
	display: flex;
	align-items: center;
}

.small-icon {
	height: 23px;
	width: 23px;
}

.large-icon {
	height: 35px;
	width: 35px;
}