.device-title {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.device-icon {
	height: 120px;
	width: 120px;
}

.title-text {
	align-items: center;
	border-bottom: 3px solid #000;
	display: flex;
	font-weight: normal;
	font-size: 45px;
	height: 60px;
	width: 100%;
	margin-right: 35px;
}

.action {
	display: flex;
	align-items: center;
	margin-left: 60px;
	width: 450px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.action-text {
	display: flex;
	align-items: center;
	height: 35px;
	font-size: 30px;
	padding-left: 15px;
}

.temp {
	width: 565px;
}

.switch {
  	position: relative;
  	display: inline-block;
  	width: 60px;
  	height: 34px;
  	margin-right: 10px;
}

.switch input {display:none;}


.slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: #ccc;
  	border-radius: 34px;
  	-webkit-transition: .4s;
  	transition: .4s;
}

.slider:before {
  	position: absolute;
  	content: "";
  	height: 26px;
  	width: 26px;
  	left: 4px;
  	bottom: 4px;
  	background-color: white;
  	border-radius: 50%;
  	-webkit-transition: .4s;
  	transition: .4s;
}

input:checked + .slider {
  	background-color: #42CC36;
}

input:checked + .slider:before {
  	-webkit-transform: translateX(26px);
  	-ms-transform: translateX(26px);
  	transform: translateX(26px);
}

.counter {
	display: flex;
	align-items: center;
}

.counter-button {
	align-self: flex-end;
	align-items: center;
	background-color: #14307C;
	border-radius: 20%;
	display: -webkit-flex;
	height: 30px;
	justify-content: center;
	width: 30px;
	margin: 0 15px;
}

.counter-button-icon {
	height: 25px;
	width: 25px;
}

.counter-input {
	width: 80px;
	font-size: 28px;
	display: flex;
	justify-content: center;
	background-color: #D0D0D0;
	border-radius: 8%;
	color: #444444;
	text-align: center;
}

sup {
	font-size:small;
}